html{
	display:block;
}
body {
/*	font-size:14px;
	position: relative;
	width: 100%;
	height: 100%;*/
	font-family: 'Karla', sans-serif;

	padding: 0 20px;
    margin: 6em 3% 19em 3%;
    background: #fff;
    color: #333;

    box-shadow: 0 0.3em 1em #000;
}

.card-container {
/*	width: 999px;
	height: 504px;*/
	width: 1109px;
	height: 604px;
	margin: auto;
/*	padding: 50px 50px 50px 50px;*/
	box-shadow: 0 0 20px #ccc;
	position: absolute;
	/*top: 50%;*/
	left: 50%;
	transform: translate(-50%, -50%);

}
.intro{
	background-image: url('../img/2018-PortfolioBkg.jpg');
	background-size: cover;	
	border: solid 1px #4B4099;
}

.title-container{
	width: 60%;
	margin-top: 20%;
	margin-left: 100px;
}

h1 {
	font-size: 26px;
	font-family: 'butlerregular';
	color: #333333;
	margin-bottom: 35px;
	line-height: 1.5;
}
h1.cover-title{
	font-family: 'butlerbold';
	font-size: 28px;
	margin-bottom: 30px
}
h3.category-title{
	margin:0;
}
.description-service{
	font-size: 15px;
	line-height: 1.5;
}

#nav-container{
/*	height: 50px;*/
	padding: 75px 25px 0;
	z-index: 2;
	position: fixed;
	width: 100%;
	top: 0;
    left: 0;
}

 #nav-container ul { 
	margin: 0; 
	padding: 0 5px; 
	list-style-type: none; 
	margin-top: 10%;
} 
 
#nav-container ul li {  
	display: inline; 
	} 

 .logo{
	display: inline-block;
 }

 .logo-image{
 	width: 70px;
	margin-left: 125px;
 }

 .navlinks{
 	float: right;
 	margin-right: 150px;
 	margin-top: -1%;
}

#nav-container ul li a { 
	text-decoration: none; 
	padding: .2em 1em;  
	font-size: 18px;
	color: #4B4099;
	font-family: 'butlerregular';
} 
#nav-container ul li a:hover { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #F5548F;
} 

.icons{
	margin-right: 20px;
	fill: #4B4099;
	-webkit-text-fill-color: #4B4099;
}
.icons:hover{
	-webkit-text-fill-color: #F5548F;
	fill: #F5548F;
}

.cover-text{
	width: 25%;
	margin-top: 15%;
	margin-left: 100px;
	float: left;
}
 .otherhalf{
 	width: 55%;
	float: right;
 }
.image-covers{
	width: 100%;
	margin-top: 12%;
}


.button {
    background-color: #ffffff;
    border: solid 1px #4B4099;
    color: #4B4099;
    padding: 12px 75px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'butlerregular';
}
.button:hover {
    background-color: #ffffff;
    border: solid 1px #F5548F;
    color: #F5548F;
}


footer {
	width: 100%;
	height: 20px;
	margin: 0;
	padding: 0 20px 20px 20px;
	color: #4B4099;
	position: absolute;
	bottom: 0;
	text-align: center;
	font-size: 12px;
}

/*laptop -macbookpro size*/
@media only screen and (max-width: 1366px) {
    .card-container {
		width: 90%;
		height: 90%;
		margin: auto;
		box-shadow: 0 0 20px #ccc;
		position: absolute;
		left: 50%;
		transform: translate(-50%, -50%);

	}
}
/*tablet size*/
@media only screen and (max-width: 1024px) {
   	.cover-text {
	    width: 30%;
	    margin-top: 20%;
	    margin-left: 100px;
	    float: left;
	}
	.otherhalf {
	    width: 55%;
	    float: right;
	    margin: 10% auto;
	}
}
/*mobile size*/
@media only screen and (max-width: 769px) {
	h1.cover-title {
	    font-size: 26px;
	}
	.image-covers {
	    width: 100%;
	    margin-top: 50%;
	}
	.title-container {
	    width: 40%;
	    margin-top: 35%;
	    margin-left: 60px;
	}
	.otherhalf {
	    width: 45%;
	}
	.button{
		padding:12px 40px;
	}
}

/*mobile size*/
@media only screen and (max-width: 600px) {
   	body{
		margin:0;
		font-size:14px;
		position: relative;
		width: 100%;
		height: 100%;
		font-family: 'Karla', sans-serif;
		line-height: 1.5
    }
    .container{
    	width:90%;
    	height:100%;
    	margin: 25px auto;
    	padding:0;
    	box-shadow: 0 0 20px #ccc;
    }
    .logo-image{
    	width:70px;
    	margin-left: 50%;
    }
    .navlinks{
    	float: right;
    	margin-right: 10%;
    	margin-top: -1%;
    }
    	
    .cover-text {
		width: 80%;
		margin-top: 25%;
		margin-left: 50px;
		float:left;
	}
	
	.title-container{
		width: 75%;
		margin-top:35%;
		margin-left: 60px;
	}
	.title-container>h1{
		font-size: 24px;
	}
	.otherhalf{
		width: 100%;
	}

	.image-covers{
		width: 100%;
		margin-top: 5%;
	}
}
